@import '../../styles/fonts.css';
@import '../../styles/themes.css';

* {
  margin  : 0;
  padding : 0;
}

#root {
  overflow-x: hidden;
}

/* GENERAL WRAPPED PAGES */

.wrapped-page {
  margin    : auto;
  height    : 100%;
  max-width : 1000px;
}

.wrapped-page .logo {
  position : absolute;
  margin   : 0;
  top      : 22px;
  left     : max(20px, calc(50% - 480px));
}

.wrapped-page .title {
  position    : absolute;
  top         : 20px;
  left        : max(70px, calc(50% - 430px));
  font-family : 'Gellix';
  font-weight : 600;
  font-size   : 20px;
}

.wrapped-page .pagination {
  position : absolute;
  bottom   : 15px;
  right    : 25px;
}

@media (min-width: 600px) {
  .wrapped-page .pagination {
    bottom : 30px;
    right  : 50px;
  }
}

.wrapped-page .wrapped-container {
  width       : calc(100%-40px);
  padding     : 0 20px;
  height      : 100%;
  display     : grid;
  place-items : center;
}

.wrapped-page .wrapped-container > * {
  grid-row-start    : 1;
  grid-column-start : 1;
}

/* MONTHLY / DAILY AVERAGE OVERVIEW PAGE */

#monthly-overview-page p,
#daily-average-overview-page p {
  font-family : 'Gellix';
  font-size   : 32px;
  font-weight : 600;
}

#monthly-overview-page .bar-text-top,
#monthly-overview-page .bar-text-bottom {
  font-family : 'Gellix';
  font-size   : 12px;
}

@media (min-width: 600px) {
  #monthly-overview-page .bar-text-top,
  #monthly-overview-page .bar-text-bottom{
    font-size : 24px;
  }
}

#daily-average-overview-page .bar-text-top,
#daily-average-overview-page .bar-text-bottom {
  font-family : 'Gellix';
  font-size   : 14px;
}

@media (min-height: 800px) {
  #daily-average-overview-page .bar-text-top,
  #daily-average-overview-page .bar-text-bottom {
    font-size : 20px;
  }
}

#daily-average-overview-page .attention {
  color : var(--PURPLE-4);
}

#monthly-overview-page .bar-text-bottom,
#daily-average-overview-page .bar-text-bottom {
  fill : var(--WHITE);
}

#monthly-overview-page .bar-text-top.even,
#monthly-overview-page .bar.even,
#daily-average-overview-page .bar-text-top.even,
#daily-average-overview-page .bar.even {
  fill : var(--PURPLE-4);
}

#monthly-overview-page .bar-text-top.odd,
#monthly-overview-page .bar.odd,
#daily-average-overview-page .bar-text-top.odd,
#daily-average-overview-page .bar.odd {
  fill : var(--PURPLE-3);
}

#monthly-overview-page .maximum,
#daily-average-overview-page .maximum {
  fill  : var(--HIGHLIGHT-3);
  color : var(--HIGHLIGHT-3);
}

#monthly-overview-page .minimum,
#daily-average-overview-page .minimum {
  fill  : var(--HIGHLIGHT-2);
  color : var(--HIGHLIGHT-2);
}
